name: Sandbox workflow

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  Tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: 27
          elixir-version: 1.19

      - name: Install dependencies
        run: cd erlang_sandbox && mix deps.get

      - name: Run tests
        run: cd erlang_sandbox && MIX_ENV=test mix test --max-failures 1
  Push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: Tests
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/sandbox-erlang:latest
            ${{ vars.DOCKERHUB_USERNAME }}/sandbox-erlang:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
          file: Dockerfile.server
          cache-from: type=gha
          cache-to: type=gha,mode=max
